// COLOURS
$backgroundColour: #fafafa;
$borderColour: #cecece;
$recipeOne: #c3add3;
$recipeTwo: #bed1e7;
$recipeThree: #ffe8cb;
$recipeFour: #e7dfbe;
$buttonColour: #ae9c86;
$selectColour: #e4d6c5;

// FONTS
body {
    font-family: 'Cabin', 'Arial', sans-serif;
    overflow: hidden;
}

